.dropList {
  position: absolute;
  left: 0;
  right: 0;
  padding: 16px;
  margin-top: 8px;
  border-radius: 12px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 32px rgba(51, 51, 51, 0.15);
  z-index: 100;
}

.search {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #F4F4F4;
  border-radius: 10px;
}

.searchIcon {
  top: 13px;
  left: 13px;
  width: 14px;
  height: 14px;
}

.searchInputWrapper {
  display: flex;
  flex-grow: 1;
}

.searchInput {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  flex-grow: 1;
  padding-left: 8px;
  background-color: #F4F4F4;
  outline: none;
}

.searchInput::placeholder {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.itemList {
  margin-top: 20px;
}

.item {
  position: relative;
}

.item:not(:first-child) {
  border-top: 1px solid #F4F4F4;
  padding-top: 15px;
  margin-top: 14px;
}

.itemLabel {
  font-size: 16px;
  cursor: pointer;
  padding-left: 8px;
}

.itemInput {
  position: absolute;
  appearance: none;
}

.itemInput:checked + .itemLabel::before {
  background-color: #005FFD;;
  border: 2px solid #0049D9;
  background-image: url("./check-mark.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.itemLabel::before {
  position: absolute;
  right: 0;
  content: "";
  width: 24px;
  height: 24px;
  background-color: #FFFFFF;
  border: 2px solid #C1C1C1;
  border-radius: 6px
}
