@import-normalize;

* {
  padding: 0;
  margin: 0;
  border: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

button {
  background: none;
}

@font-face {
  font-family: "Inter";
  src: url("../../../public/fonts/Inter-Regular.woff");
  src: url("../../../public/fonts/Inter-Regular.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../../../public/fonts/Inter-Medium.woff");
  src: url("../../../public/fonts/Inter-Medium.woff2");
  font-weight: 500;
  font-style: normal;
}

body {
  width: 100%;
  height: 100%;

  font-family: "Inter", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;

  color: #000000;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
