.dropDown {
  position: relative;
  margin-top: 10px;
}

.title {
  font-weight: 500;
  color: #333333;
}

.select {
  display: flex;
  align-items: center;
  border: 1px solid #C1C1C1;
  border-radius: 10px;
  padding: 5px 10px 10px 10px;
  margin-top: 4px;
}

.selectLabels {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}

.selectLabel {
  display: flex;
  align-items: center;
  padding: 6px 12px;
  border-radius: 8px;
  background-color: #F4F4F4;
  margin: 5px 4px 0 0;
}

.selectLabel:last-child {
  margin-right: 0;
}

.selectLabelText {
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: #333333;
}

.selectLabelButton {
  margin-left: 10px;
  cursor: pointer;
}

.selectLabelIcon {
  width: 8px;
  height: 8px;
}

.selectButton {
  margin-left: auto;
  cursor: pointer;
}

.buttonIcon {
  width: 10px;
  height: 5px;
  transform: rotate(180deg);
}

.buttonIconOpen {
  transform: rotate(0deg);
}